.idea
*.pyc

# gem5 simulation outputs (recreated by sim_sweep.sh / run-test.sh)
gem5/results/
gem5/*.log
gem5/compile_commands.json

# analysis outputs (recreated by analysis/main.py)
analysis/output/
